/* navigation */

.nav {
    position: absolute;
    bottom: 430px;
    left: 385px;
    background-color: #DCC7CC;
    border: 1px solid #f2f2f2;
    border-radius: 15px;
    width: 25%;
    padding: 20px;
    padding-bottom: 50px;

}


.h2_nav {
    font-size: 2.2rem;
    text-align: center;
    border: 1px solid #f2f2f2;
    border-left: none;
    border-right: none;
    border-top: none;
}


.h2_mess_1 {
    text-decoration: none;
    font-size: 1.3rem;
    color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-right: 405px;
}


.h2_mess_2 {
    text-decoration: none;
    font-size: 1.3rem;
    color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-right: 428px;
}


.h2_mess_3 {
    text-decoration: none;
    font-size: 1.3rem;
    color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-right: 345px;
}


.h2_mess_4 {
    text-decoration: none;
    font-size: 1.3rem;
    color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-right: 408px;
}


.h2_mess_5 {
    text-decoration: none;
    font-size: 1.3rem;
    color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-right: 355px;
}


.div_nav {
    display: block;
    margin-top: 15px;
}

.hidden {
    display: none ! important;
}


/* userData */
.userData {
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    margin-left: 570px;
    margin-right: 570px;
    background-color: #DCC7CC;
    text-align: center;
    padding: 50px;
    position: absolute;
    top: 200px;
    left: 350px;
}


.h2_userData {
    text-align: center;
    font-size: 2rem;
}


.btn_userData {
    text-decoration: none;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    background-color: #71b2f3;
    color: antiquewhite;
    padding: 7px;
}


.inp_userData {
padding-left: 20px;
padding-right: 20px;
}


.l {
    margin-top: 10px;
    display: block;
}