/* navigation */

.nav {
    position: absolute;
    bottom: 430px;
    left: 385px;
    background-color: #f2f2f273;
    border: 1px solid #f2f2f2;
    border-radius: 15px;
    width: 25%;
    padding: 20px;
    padding-bottom: 50px;

}


.h2_nav {
    font-size: 2.2rem;
    text-align: center;
    border: 1px solid #f2f2f2;
    border-left: none;
    border-right: none;
    border-top: none;
}


.h2_mess_1 {
    text-decoration: none;
    font-size: 1.3rem;
    color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-right: 405px;
}


.h2_mess_2 {
    text-decoration: none;
    font-size: 1.3rem;
    color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-right: 428px;
}


.h2_mess_3 {
    text-decoration: none;
    font-size: 1.3rem;
    color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-right: 345px;
}


.h2_mess_4 {
    text-decoration: none;
    font-size: 1.3rem;
    color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-right: 408px;
}


.h2_mess_5 {
    text-decoration: none;
    font-size: 1.3rem;
    color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-right: 355px;
}


.div_nav {
    display: block;
    margin-top: 15px;
}

.hidden {
    display: none ! important;
}


/* useData */

.user_data {
    background: linear-gradient(rgba(18, 31, 212, 0.527), rgb(17, 177, 206));
    padding-bottom: 414px;
    padding-top: 192px;
}

.main_block_useData {
    background-color: #f2f2f273;
    border: 1px solid;
    text-align: center;

    padding-top: 117px;
    padding-bottom: 130px;
    margin-left: 100px;
    margin-right: 100px;
}


.h2_useData_2 {
    text-align: center;
    font-size: 2rem;
}


.btn_useData {
    margin-bottom: 25px;
    margin-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.1rem;
    border: 1px solid #f2f2f2;
    border-radius: 7px;
    color: aliceblue;
    background-color: #f2f2f273;
    text-decoration: none;
}


.l {
    margin-top: 10px;
    display: block;
}


/* useData2 */

.useData2{
    background: linear-gradient(rgba(18, 31, 212, 0.527), rgb(17, 177, 206));
    padding-bottom: 414px;
    padding-top: 192px;

}


.con_useData2 {
    width: 40%;
    margin: 0 auto;
    padding-top: 100px;
}


.h2_useData2 {
    font-size: 2.3rem;
    text-align: center;
}


