body {
    margin: 0;
    padding: 0;
    text-decoration: none;
}



/* header */

header {
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.966);
}


.h2_header {
    color: #f2f2f2;
}


.btn_header {
    margin-bottom: 25px;
    margin-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.1rem;
    border: 1px solid #f2f2f2;
    border-radius: 7px;
    color: aliceblue;
    background-color: black;
    text-decoration: none;
}


/* auth */

.con_auth {
    width: 40%;
    margin: 0 auto;
    padding-top: 200px;
}


.auth {
    background: linear-gradient(#f2f2f2, rgb(26, 24, 24));
    text-align: center;
    padding-bottom: 345px;

}


.auth_block {
    border: #f2f2f2 1px solid;
    border-radius: 20px;
    padding: 5px;
    display: inline-block;
    padding: 30px;
}


.h2_auth {
    font-size: 3rem;
    color: rgb(27, 27, 27);
}


input {
    width: 70%;
    margin-bottom: 10px;
}


label {
    display: block;
    color: #f2f2f2;
    font-size: 1.2rem;
}


.btn_auth_1 {
    margin-bottom: 25px;
    margin-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.1rem;
    border: 1px solid #f2f2f2;
    border-radius: 7px;
    color: aliceblue;
    background-color: black;
    text-decoration: none;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
}


.btn_regist_1 {
     margin-bottom: 25px;
    margin-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.1rem;
    border: 1px solid #f2f2f2;
    border-radius: 7px;
    color: aliceblue;
    background-color: black;
    text-decoration: none;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
}


/* messenger */

.con_chat {
    padding-top: 50px;
    width: 70%;
}


.messenger {
    background: linear-gradient(rgb(26, 24, 24), #f2f2f2);
    display: flex;
    padding-bottom: 150px;
}


.nav {
    border: #f2f2f2 1px solid;
    border-radius: 20px;
    margin-right: 150px;
    border-left: none;
    border-top: none;
    width: 25%;
    padding-top: 30px;
    background-color: rgba(0, 0, 0, 0.788);
}


.h1_mess {
    text-align: center;
    color: #f2f2f2;
    font-size: 2.7rem;
    border: 1px solid;
    border-top: none;
    border-left: none;
    border-right: none;
}


.h2_mess {
    color: #f2f2f2;
    display: block;
    font-size: 1.4rem;
    margin-bottom: 20px;
    text-decoration: none;
    border: 1px solid;
    border-top: none;
    border-left: none;
    border-right: none;

}


.chat {
    text-align: left;
    background-color: rgba(0, 0, 0, 0.788);
    padding: 5px;
    padding-top: 170px;
    padding-bottom: 350px;
    padding-left: 20px;
    padding-right: 30px;
    margin-right: 270px;
    margin-bottom: 50px;
    border: #f2f2f2 1px solid;
}


.h2_chat {
    color: #f2f2f2;
    margin-top: -167px;
    border: aliceblue 1px solid;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: aliceblue;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: aliceblue;
    margin-right: 800px;
    border-left: none;
    border-top: none;
    padding-bottom: 10px;
}


.inp_chat {
    width: 25%;
    border: 1px #f2f2f2 solid;
    border-radius: 20px;
    background-color: black;
    color: #f2f2f2;
    text-align: left;
    padding: 10px;

    position: absolute;
    left: 936.533px;
    top: 732px;
}


.youser {
    color: aliceblue;
    border: #f2f2f2 1px solid;
    margin-right: 800px;
    border-left: none;
    margin-bottom: -20px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.WWchat {
    background-color: rgb(203, 204, 204);
    margin-left: 240px;
    padding-top: 323px;
    margin-left: 0px;
    position: absolute;
    left: 877.3px;
    top: 141.917px;
    padding-right: 250px;
    padding-left: 450px;
    padding-top: 500px;
    padding-bottom: 150px;
    border: black 1px solid;
}


button {
    border: 1px solid;
    border-radius: 20px;
    position: absolute;
    left: 1462px;
    top: 737.5px;
    padding: 5px;
    background-color: #f2f2f2;
    color: #111;
}


/* registration*/

.regist {
    background: linear-gradient(rgb(26, 24, 24), #f2f2f2);
}


.con_regist {
    width: 40%;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}


.regist_div {
    background: linear-gradient(rgb(26, 24, 24), #f2f2f2);
    padding: 50px;
    border: #f2f2f2 1px solid;
    border-radius: 20px;

}


.h2_regist {
    color: #f2f2f2;
    text-align: center;
}


.btn_regist {
    margin-bottom: 25px;
    margin-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.1rem;
    border: 1px solid #f2f2f2;
    border-radius: 7px;
    color: aliceblue;
    background-color: black;
    text-decoration: none;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
}